body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #800080;
  color: #333;
}

header {
  background-color: #733B73;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background-color: #DAB1DA;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-photo {
  border-radius: 80%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 30px;
}

.bio {
  text-align: center;
}

.bio h2 {
  margin-top: 0;
  color: #333;
}

.bio p {
  line-height: 1.3;
  margin: 30px 0;
}
